# Database configuration

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=myuser
DB_PASSWORD=mypassword
DB_DATABASE=mydatabase
PORT=3000
SECRET_KEY_JWT=eyJhbGciOiJIUzI1NiJ9.eyJS
ACCOUNT_SID=AC26061
AUTH_TOKEN=7296b4a2b0
TWILIO_PHONE_NUMBER=+17797979898

PORT=3000
